apiVersion: v1
kind: Service
metadata:
  name: postgres
  labels:
    app: echofinder
    component: postgres
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
  selector:
    app: echofinder
    component: postgres