apiVersion: v1
kind: Service
metadata:
  name: backend
  labels:
    app: echofinder
    component: backend
spec:
  type: ClusterIP
  selector:
    app: echofinder
    component: backend
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
